@{
    ViewData["Title"] = "C'est quoi ?";
}

<div>
    <p> C'est quoi ce site ?</p><br />
    <p>Bienvenue sur notre plateforme de gestion de contacts. 
        Ce site est conçu pour vous aider à organiser, gérer et communiquer avec vos contacts de manière simple et efficace.
        Que ce soit pour un usage personnel ou professionnel, notre solution vous permet de centraliser toutes vos informations de contacts en un seul endroit. 
        Vous pouvez non seulement ajouter de nouveaux contacts, consulter leurs informations, les modifier, ou les supprimer,
        mais aussi leur envoyer des messages directement depuis la plateforme. En un seul coup d'œil, vous accédez aux informations essentielles, 
        telles que les noms, numéros de téléphone, adresses e-mail, et autres détails importants. Grâce à une interface intuitive et des outils 
        de gestion optimisés, notre plateforme simplifie la mise à jour, le suivi de vos relations, et la communication avec vos contacts. 
        Que vous ayez des dizaines ou des centaines de contacts, notre site vous aide à garder une organisation claire et à échanger facilement avec eux.</p>
</div>