@{
    Layout = null;
}

<!DOCTYPE html>
<html class="html-login" lang="fr-ca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ETC_GESTION_CONTACT.styles.css" asp-append-version="true" />
</head>
<body id="body-login">
    <div class="login-container">
        <div class="centered-div">
            <h2 class="titre-page">Connexion</h2>
            <form asp-action="Login" method="post">
                <div>
                    <input type="text" name="Email" placeholder="Adresse courriel" required />
                </div><br />
                <div>
                    <input type="password" name="Password" placeholder="Mot de passe" required />
                </div>
                <div>
                    <a href="~/Account/ForgotPassword" class="forgot-password">Mot de passe oublié?</a>
                    <a href="~/Account/Register" class="create-account">Pas de compte?</a>
                </div>
                <div>
                    <button class="login-button" type="submit">Se connecter</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>