@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Créer un compte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ETC_GESTION_CONTACT.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="Register-container">
        <h2>Créer un compte</h2>
        <form asp-action="Register">
            <div>
                <label>Adresse courriel</label>
                <input type="text" name="Email" required />
            </div>
            <div>
                <label>Mot de passe</label>
                <input type="password" name="Password" required />
            </div>
            <div>
                <label>Confirmer le mot de passe</label>
                <input type="password" name="ConfirmPassword" required />
            </div>
            <a href="~/Account/Login">Déjà un compte? Connectez-vous</a>
            <button type="submit">Créer un compte</button>
        </form>
    </div>
</body>
</html>