@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr-ca">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Créer un compte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ETC_GESTION_CONTACT.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="Register-container">
        <div class="centered-div">
            <h2>Créer un compte</h2>
            <form asp-action="Register">
                <div>
                    <input type="text" name="firstname" placeholder="Prénom" required/>
                </div><br />
                <div>
                    <input type="text" name="lastname" placeholder="Nom de famille" required/>
                </div><br />
                <div>
                    <input type="text" name="PhoneNumber" placeholder="Numéro de téléphone" required/>
                </div><br />
                <div>
                    <input type="text" name="Email" placeholder="Adresse courriel" required />
                </div><br />
                <div>
                    <input type="password" name="Password" placeholder="Mot de passe" required />
                </div><br />
                <div>
                    <input type="password" name="ConfirmPassword" placeholder="Confirmer le mot de passe" required />
                </div>
                <div>
                    <a class="login-account" href="~/Account/Login">Déjà un compte !</a>
                </div>
                <button class="create-account" type="submit">Créer un compte</button>
            </form>
        </div>
    </div>
</body>
</html>