html-login, body-login {
    height: 100%;
    margin: 0;
}

.login-container {
    background: linear-gradient(0.7turn,#003135,#0fa4af,#024950);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-div {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    background-color: white;
    background-color: rgba(0,0,0,0.25);
    border-top: 4px solid #003135;
}

.titre-page {
    text-align: center;
    font-size: 2em;
    margin-bottom: 17px;
}

/* Styles pour uniformiser les bordures des champs d'entrée et boutons de formulaire */
input[type="text"],
input[type="password"],
input[type="email"] {
    border: 2px solid #cccccc;
    border-radius: 20px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}

input[type="email"],
input[type="password"]{
    margin-bottom: 10px;
}

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus {
        border-color: #cccccc;
    }

input::placeholder {
    color: #888;
}

/* Style pour le conteneur des liens "Mot de passe oublié" et "Pas de compte ?" */
.form-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 0.9em; /* Taille légèrement plus petite pour un aspect professionnel */
    color: #ffffff; /* Blanc pour se fondre avec l’arrière-plan */
}

/* Style du lien "Mot de passe oublié" */
.forgot-password {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.8; /* Légère transparence pour s’adapter au fond */
    transition: opacity 0.3s ease;
}

    .forgot-password:hover {
        opacity: 1; /* Effet d’interaction en rendant le lien complètement opaque */
        text-decoration: underline;
    }

/* Style du lien "Pas de compte ? Créez-en un" */
.create-account {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

    .create-account:hover {
        opacity: 1;
        text-decoration: underline;
    }

/* Style du bouton "Se connecter" */
.login-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1em;
    font-weight: bold;
    color: #333333; /* Couleur sombre pour le texte sur le bouton */
    background-color: #e0e0e0; /* Gris clair pour correspondre au style de l'arrière-plan */
    border: none;
    border-radius: 20px; /* Bordures arrondies comme les champs de saisie */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .login-button:hover {
        background-color: #cccccc; /* Couleur légèrement plus foncée au survol */
        transform: scale(1.02); /* Légère augmentation de la taille pour l’effet visuel */
    }

    .login-button:active {
        background-color: #b3b3b3; /* Couleur plus foncée au clic */
        transform: scale(0.98); /* Légère réduction pour effet de clic */
    }

